__pycache__/
venv/
.venv/
dist/
.coverage*
.ipynb_checkpoints/
.ruff_cache/
.DS_Store
._*

/pretrained/bert/*/*.bin
/pretrained/bert/*/*.h5
/pretrained/bert/*/*.model
/pretrained/bert/*/*.safetensors
/pretrained/bert/*/*.msgpack
/pretrained/bert/*/*.onnx


/pretrained/jp_extra/*.safetensors
/pretrained/jp_extra/*.pth

/pretrained/slm/*/*.bin

*.zip
*.csv
*.bak
/mos_results/

safetensors.ipynb
*.wav
/static/

# pyopenjtalk's dictionary
*.dic

playground.ipynb
playgrounds/
